a,
button,
input {
  cursor: pointer;
}

.button-submit {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 2px solid var(--hover_background);
  outline: none;
  background: white url(images/button.svg) no-repeat center;
}

.button-submit:hover {
  border: 2px solid var(--green_border);
}

.button-submit:focus {
  background: var(--green_border) url(images/button-active.svg) no-repeat center;
}
