.footer-list {
  max-width: 1440px;
  background: var(--font_color);
  display: flex;
  padding: 244px 292px 0 155px;
  justify-content: space-between;
}

.footer-list ul {
  padding: 0;
}

.footer-list .title-li {
  font-family: var(--header-font);
  font-size: 14px;
  color: white;
  margin-bottom: 17px;
  display: block;
}

.footer-list li {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: var(--li-font_color);
  list-style: none;
  margin-bottom: 11px;
}

.footer-list a {
  font-size: 12px;
  color: var(--li-font_color);
  text-decoration: none;
}

ul .site-mail {
  color: var(--green_border);
}

ul .link-mail {
  color: var(--green_border);
}

.right-foot,
.left-foot {
  display: flex;
  flex-wrap: wrap;
}

.left-foot {
  justify-content: space-between;
  margin-right: 50px;
  width: 100%;
}

.right-foot {
  justify-content: center;
  width: 100%;
}

.ctrlenter {
  max-width: 213px;
  width: 100%;
  line-height: 17px;
}

ul .cooperation {
  font-family: var(--main-font);
  font-size: 12px;
  color: white;
  display: block;
  margin-top: 36px;
}

.copyright {
  display: flex;
  margin-inline-end: -240px;
  width: 500px;
  align-items: center;
  font-family: var(--main-font);
  font-size: 11px;
  color: var(--copyright_color);
  background: var(--font_color);
  text-align: center;
  padding-right: -172px;
}

.last-footer {
  font-family: var(--main-font);
  color: var(--copyright_color);
  font-size: 11px;
}

.problems {
  margin-inline-end: -210px;
}

.connection {
  margin-inline-end: 116px;
}

