* {
  box-sizing: border-box;

}

body {
  margin: 0 auto;
  width: 1440px;
  max-width: 100%;
  overflow-x: hidden;
}

main {
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 119px 202px 77px 155px;
}

/* Left section of main */
.candy-title {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-top: 158px;
}

.candy-logo {
  margin-left: -120px;
}

.candy-left {
  display: flex;
  flex-direction: column;
  flex-basis: 470px;
  margin-top: -98px;
  padding-right: 148px;
}

h1 {
  font-family: var(--header-font);
  font-size: 48px;
  margin-right: 150px;
  color: var(--font_color);
  margin-top: 0;
}

.info {
  width: 437px;
  margin-top: -17px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--copyright_color);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--light_background);
  width: 100%;
  margin-left: 0;
}

/* Form for mail */

.mail-form {
  width: 470px;
  margin-top: 30px;
}

.header-mail {
  font-family: var(--header-font);
  font-size: 18px;
  line-height: normal;
  color: var(--font_color);
  display: block;
}

.mail-container {
  position: relative;
  max-width: 470px;
  width: 100%;
  margin-top: 20px;
}

.mail-container input {
  background: var(--light_background);
  border-radius: 30px;
  height: 60px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  padding-left: 30px;
}

.mail-container input:hover {
  background: var(--hover_background);
  transition: 0.5s;
}

.mail-container input:focus:valid {
  border: 2px solid var(--green_border);
  outline: none;
  transition: 0.5s;
  background-color: white;
}

.mail-container input:active {
  border: 2px solid white;
  outline: none;
  transition: 0.5s;
  background-color: white;
}

.mail-container input:invalid:not([value=""]) {
  background: var(--error_background);
  border: 2px solid var(--error_border);
  outline: none;
  transition: 0.5s;

}

.mail-container input::placeholder {
  color: var(--placeholder_color);
  font-weight: 400;
  font-size: 14px;
  font-family: var(--main-font);
}

/* Right section of main */

.candy-right {
  display: flex;
  flex-direction: column;
  flex-basis: 470px;
}

.list-icon {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 14px;
}

.list-icon a {
  background-color: var(--light_background);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-content: flex-end;
  justify-content: center;
}

.list-icon a:hover {
  background-color: var(--hover_background);
  transition: 0.3s;
}

.list-icon a:focus {
  border: 2px solid var(--green_border);
  transition: 0.1s;
  box-sizing: border-box;
}

.list-framework {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-inline-start: 14px;
  width: 480px;
}

.span-js {
  font-family: var(--main-font);
  font-size: 10px;
  letter-spacing: 0.1em;
  color: var(--violet_color);
  font-weight: bold;
}

.li-framework {
  font-family: var(--header-font);
  font-size: 18px;
  color: var(--font_color);
  margin-top: 0;
  margin-bottom: 20px;
}

.dots {
  display: flex;
  justify-content: space-between;
}

.css-frame {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--copyright_color);
}

.link {
  margin-left: auto;
  width: 76px;
  height: 28px;
  background: white;
  border: 2px solid var(--hover_background);
  box-sizing: border-box;
  border-radius: 22px;
  font-family: var(--header-font);
  font-size: 10px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--font_color);
  padding: 6px 16px 8px 26px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link:hover {
  border-color: var(--green_border);
  color: var(--violet_color);
  transition: 0.5s;
}

.all-candy {
  background: var(--violet_color);
  border-radius: 22px;
  max-width: 470px;
  width: 100%;
  height: 44px;
  font-family: var(--header-font);
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: white;
  border: none;
  align-self: center;
  margin-left: 42px;
  margin-top: 54px;
  outline: none;
}

.all-candy:hover {
  background-color: var(--hover_violet);
  transition: 0.5s;
}
.nav-hr {
  border: none;
  height: 1px;
  background-color: var(--light_background);
  width: 470px;
  margin-left: 35px;
}
.container-link{
  display: flex;
  align-items: center;
}
